<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSystem</key>
	<false/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Montastic</string>
	<key>CFBundleIdentifier</key>
	<string>jimm.dashboard.jboss</string>
	<key>CFBundleName</key>
	<string>Montastic</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>14</integer>
	<key>CloseBoxInsetY</key>
	<integer>12</integer>
	<key>MainHTML</key>
	<string>Montastic.html</string>
</dict>
</plist>
